/* colors */
$white: #F6F5F2;
$gray: #e4e4e4;
$black: #000;
$orange: #ff7f50;
$blue: #4682b4;

/* Breakpoints */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/* Typography */
$merry: 'Merriweather', serif;

// Font Weight
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

//Font sizes

$x-large: 2rem;
$large: 1.5rem;
$medium: 1rem;
$small: 15px;




